<p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @posting.id %>
</p>

<p>
  <b>User:</b>
  <%= @posting.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @posting.title %>
</p>

<p>
  <b>Category:</b>
  <%= @posting.category %>
</p>

<p>
  <b>Description:</b>
  <%= @posting.description %>
</p>

<p>
  <b>Location:</b>
  <%= @posting.location %>
</p>

<p>
  <b>Price:</b>
  <%= @posting.price %>
</p>

<p>
  <b>Date:</b>
  <%= @posting.date %>
</p>


<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
