<div class = "span2"> </div>
<div class= "container well">
  <%= bootstrap_form_for(@post, html: { class: 'form-horizontal' }, help: :block) do |f| %>
    <%= f.alert_message "You need to give us more information" %>

    <%= f.text_field :title, label: 'Title' %>
    <%= f.text_field :price, prepend: '$', label: 'Price', :class => "span1" %>
    <%= f.text_field :category, label: 'Category' %>
    <%= f.text_field :location, label: 'Location' %>
    <%= f.text_area :description, label: 'Description', :rows => 8, :cols => 40 %>
    <%= f.file_field :photo %>
    <%= f.file_field :photo2 %>
    <%= f.file_field :photo3 %>
    <%= f.file_field :photo4 %>

    <div class="actions">
      <%= f.submit 'SUBMIT', :class => 'button-small blue_normal rounded3' %>
    </div>
    </div>
  <% end %>
 
