


<script type="text/javascript">//<![CDATA[ 
$(window).load(function(){
$(".my-link").click(function() {
    $(this).closest("div").next(".class2").toggle();
});
});//]]>  


</script>



<div class="">
	<div class="row-fluid">
		<div>
			<div class="well sidebar-nav span2">
				<ul class="nav nav-list">
					<%= render 'side_search' %>

			</ul>
		
		</div><!--/.well -->
	</div><!--/span-->
	<div class = "span10">
		<% if flash[:notice] %>
		    <div class="notice"><%= flash[:notice] %></div>
		  <% end %>

		<div >
			<% if params.has_key?(:q) %>
			<b><%= @posts.count%></b> results for <%= params[:q] %>
		</div> 
		<%# @post = @search.results%>
		<% end %>
		
		<table class = "post">

			<% @posts.each do |post| %>


			<tr class = "well well-small marginbottom listing">
				
					<td> <div class = 'thumbnail post'><%= image_tag post.photo.url(:thumbnail) %></div></td>
					<td class= 'listing-title' style="word-wrap: break-word"><div class= "post" style="width:400px"><%= link_to post.title, post , :class => "post-title"%></div>
			
						<%= post.description %><p> <%= raw post.tag_list.map { |t| link_to "##{t}", tag_path(t) }.join(' ') %></p>

						<% if user_signed_in? %>
						
						<div id = "reply">
							<div class="container">
							<div class="class1">
							<a href="#" class="my-link">Reply</a>
							</div>
							<div class="class2" style = "display:none">
								<%= form_for :comment, :controller => "comments_controller", :url => url_for(:controller => 'comments', :action => 'create') do |f| %>
								<%= f.text_field :text %>
								<%= f.hidden_field :post_id, :value => post.id %>
								<%end %>

								<% post.comments.each do |comment| %>
								<b><%= comment.user_name %></b> wrote 
								<p><%= comment.text %></p>
								<hr>

								<%end %>
							
							</div>
							</div>
							
						<%end%>
							
						
						</div>

						<td class = "price"><b>$<%= post.price %></b></td></td>
				
					

				</tr>
    			
				<% end %>
				
			</table>
		

		</div>
	</div>






	<%= paginate @posts %>

	<%= link_to 'New Post', new_post_path %>
</div>

