<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
		  <li class="nav-header">Search by</li>
		  <li><a href="/jobs?cat=art">Title</a></li>
		  <li><a href="/jobs?cat=art">Description</a></li>
		  <li class="nav-header">Real Estate</li>
		  <li><a href="/posts?cat=baby">Houses</a></li>
		  <li><a href="/posts?cat=baby">Apartments</a></li>
		  <li class="nav-header">Categories</li>
		  <li><a href="/posts?cat=art">Art</a></li>
		  <li><a href="/posts?cat=baby">Baby</a></li>

              <li><a href="/posts?cat=antiques">Antiques</a></li>
              <li><a href="/posts?cat=art">Art</a></li>
              <li><a href="/posts?cat=baby">Baby</a></li>
              <li><a href="/posts?cat=auto">Auto Parts</a></li>
              <li><a href="/posts?cat=books">Books</a></li>
              <li><a href="/posts?cat=bike">Bicycles</a></li>
              <li><a href="/posts?cat=boat">Boats</a></li>
              <li><a href="/posts?cat=cellphone">Cellphones</a></li>
		  <li><a href="/posts?cat=clothes">Clothing & Accesories</a></li>
		  <li><a href="/posts?cat=collectibles">Collectibles</a></li>
		  <li><a href="/posts?cat=computers">Computers</a></li>
		  <li><a href="/posts?cat=electronics">Electronics</a></li>
		  <li><a href="/posts?cat=furniture">Furniture</a></li>
		  <li><a href="/posts?cat=garage-sales">Garage and Estate Sales</a></li>
		  <li><a href="/posts?cat=health">Health and Beauty</a></li>
		  <li><a href="/posts?cat=jewelery">Jewelery</a></li>
		  <li><a href="/posts?cat=music">Musical Instruments</a></li>
		  <li><a href="/posts?cat=sporting">Sporting Goods</a></li>
		  <li><a href="/posts?cat=tickets">Tickets</a></li>
		  <li><a href="/posts?cat=tools">Tools</a></li>
		  <li><a href="/posts?cat=toys">Toys and Games</a></li>
            </ul>
		
          </div><!--/.well -->
        </div><!--/span-->
	  <div class = "span9">
		<h1>Listing posts</h1>

		<div class = "container">
			<% if params.has_key?(:q) %>
			<b><%= @posts.count%></b> results for <%= params[:q] %>
		</div> 
	<%# @post = @search.results%>
		<% end %>
		<table>


			<% @posts.each do |post| %>

  			<tr class = "well well-small offset1 span8 marginbottom listing">
	  			<ul class = "thumbnails">
    			<td> <li class = "nomargin"><div class = 'thumbnail'><%= image_tag post.photo.url(:thumbnail) %></div></li></td>
    			<td class= 'listing-title'><%= link_to post.title, post %></td>
				</ul>
    			<td class = "price"><b>$<%= post.price %></b></td>
				<% end %>

			</table>
		

	</div>
</div>



<%= paginate @posts %>

<%= link_to 'New Post', new_post_path %>
</div>

