<div class = 'container'>
<p id="notice"><%= notice %></p>
<container>
<table>
  <tr>
    <td><%= image_tag @post.photo.url(:medium)%></td>
    <td><div class= "pull-right"> $ <%= @post.price %></div>
      <p><b><%=@post.title%></b></p>
      <p>posted by <%=@post_user.username%> at <%= @post.created_at %></p>
      <p><%= @post.location %> > <%= @post.category %> </p>
      <p>Description <%= @post.description %></p>

    </td>
  </tr>
</table>
</container>



</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
