<!DOCTYPE html>
<html>
<head>
  <title>CL+</title>  
  <%= stylesheet_link_tag    "application", :media => "all" %>  
  <%= javascript_include_tag "application" %>  
  <%= csrf_meta_tags %>  
</head>  
<body>
  <!-- Navigation Bar 
      TODO: 
        make the navbar respond to the current page
        brand with link
        static or fixed top
  -->

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
<!--   Not sure if this is important or not  
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
 -->    

        <a class="brand" href="#">spacebook</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><%= link_to "Postings", posts_path %></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Housing</a></li>
          </ul>
  <%= form_tag posts_path, :method => :get do %>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag "Search", :name => nil %>
  <% end %>

        </div>
      <% if user_signed_in? %>
        <%= link_to current_user.email, edit_user_registration_path %>
        <%= link_to "Sign Out", destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
      <% end %>

      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
